[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Buster the energetic.
[access "refs/*"]
	owner = group user/fayadx-ssrc
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Ssrc Users
	label-Verified = -1..+1 group user/fayadx-ssrc
	read = group user/fayadx-ssrc
	rebase = group user/fayadx-ssrc
	removeReviewer = group user/fayadx-ssrc
	submit = group user/fayadx-ssrc
[access "refs/heads/*"]
	create = group Ssrc Users
	create = group user/fayadx-ssrc
	push = group Ssrc Users
	push = +force group user/fayadx-ssrc
	pushMerge = group Ssrc Users
	pushMerge = group user/fayadx-ssrc
	read = group Ssrc Users
	read = group user/fayadx-ssrc
[access "refs/tags/*"]
	push = group user/fayadx-ssrc
	push = +force group user/fayadx-ssrc
