[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Buster the energetic.
[access "refs/*"]
	owner = group Ssrc Users
	owner = group user/Fayad Fami (fayadx-ssrc)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Ssrc Users
	label-Verified = -1..+1 group user/Fayad Fami (fayadx-ssrc)
	label-Verified = group Ssrc Users
	read = group Ssrc Users
	read = group user/Fayad Fami (fayadx-ssrc)
	rebase = group Ssrc Users
	rebase = group user/Fayad Fami (fayadx-ssrc)
	removeReviewer = group Ssrc Users
	removeReviewer = group user/Fayad Fami (fayadx-ssrc)
	submit = group Ssrc Users
	submit = group user/Fayad Fami (fayadx-ssrc)
[access "refs/heads/*"]
	create = group Ssrc Users
	create = group user/Fayad Fami (fayadx-ssrc)
	push = group Ssrc Users
	push = +force group user/Fayad Fami (fayadx-ssrc)
	pushMerge = group Ssrc Users
	pushMerge = group user/Fayad Fami (fayadx-ssrc)
	read = group Ssrc Users
	read = group user/Fayad Fami (fayadx-ssrc)
[access "refs/tags/*"]
	push = group Ssrc Users
	push = group user/Fayad Fami (fayadx-ssrc)
	push = +force group user/Fayad Fami (fayadx-ssrc)
[access "refs/for/main"]
	owner = group Ssrc Users
	push = group Ssrc Users
	submit = group Ssrc Users
